* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

nav.navbar {
  background: #FFFEFE;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.btn-add {
  width: 190px;
  height: 70px;
  background: #F3AC13;
  border-radius: 10px;
}